fastapi 
uvicorn 
faster-whisper 
openai 
pydantic 
requests 
pymysql
mysql-connector-python 
python-multipart
aiofiles
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
annotated-types
antlr4-python3-runtime
anyio
attrs
certifi
cffi
chardet
charset-normalizer
click
colorama
coloredlogs
dataclasses-json
distro
fastapi
ffmpeg-python
filelock
flatbuffers
frozenlist
fsspec
future
googletrans
greenlet
h11
h2
hpack
hstspreload
httpcore
httpx
httpx-sse
humanfriendly
hyperframe
idna
Jinja2
jiter
jsonpatch
jsonpointer
keyboard
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
llvmlite
MarkupSafe
marshmallow
more-itertools
mpmath
multidict
mypy_extensions
networkx
numba
numpy
omegaconf
onnxruntime
openai
openai-whisper
orjson
packaging
propcache
protobuf
PyAudio
pycparser
pydantic
pydantic-settings
pydantic_core
pydub
PyJWT
python-dotenv
pyttsx3
PyYAML
regex
requests
requests-toolbelt
rfc3986
silero
silero-vad
sniffio
soundfile
SQLAlchemy
starlette
sympy
tenacity
tiktoken
torch
torchaudio
tqdm
twilio
typing-inspect
typing-inspection
typing_extensions
urllib3
uvicorn
vllm==0.6.2
websockets
yarl
zstandard
faster-whisper
huggingface-hub
transformers
python-multipart
realtimetts[edge]
agno
googlemaps 
google-maps-places